
/* Simple CSS for the HTML database */

body {
    margin: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cc-information dt {
    font-weight: bold;
    clear: both;
    float: left;
    width: 7em;
}
.cc-information dd {
    margin-left: 7.1em;
    padding-bottom: 0.5em;
}

.cc-info {
    width: fit-content;
}

.boxes {
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
}

.boxes > span {
    border-top: 1px solid grey;
    border-right: 1px solid grey;
}

.cc-info > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cc-info > div > span {
    flex: 1 1 auto;
    text-align: center;
    padding: 2px 10px;
}

.notfound {
    color: red;
}

.sc {
    font-variant: small-caps;
}

q {
    quotes: "‘" "’";
}

q.dq {
    quotes: "“" "”";
}

.separation::before {
    content: " · ";
}

#search > summary {
    float: right;
    font-size: 150%;
    list-style-type: none;
}

#search > summary::-webkit-details-marker {
    display: none;
}

#search > summary:hover {
    cursor: pointer;
}

#search[open] > summary::before {
    content: "x";
    position: absolute;
    right: 0.6em;
    top: 0;
}

#search {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: beige;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: smaller;
    line-height: 150%;
}

#search-box {
    width: 100%;
}

.graphSymbol {
    padding-left: 5px;
    vertical-align: middle;
    width: 1em;
    height: 1em;
}

#gvSymbol {
     stroke-width: 2px;
     stroke: LinkText;
     fill: LinkText;
}
