
/* Overriding the default graph-visualizer CSS */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: aliceblue;
    font-weight: 300; /* light (falls back to normal=400 if light isn't available */
}

h1, h2, h3, b, strong, summary {
    font-weight: 550; /* medium (falls back to bold=700 if medium isn't available) */
}

a {
    color: darkgreen;
}

#gvSpinningWheel > div {
    border: 16px solid aliceblue;
    border-top-color: lightskyblue;
}

#gvContainer div.vis-tooltip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
