
/* Simple CSS for the HTML database */

body {
    margin: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

th {
    vertical-align: text-top;
    text-align: left;
    min-width: 7em;
    padding-right: 5px;
    padding-top: 5px;
}

.ccinfo {
    padding-bottom: 5px;
}

.ccinfo table td {
    padding: 0;
    text-align: center;
}

.flex {
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex > span {
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    flex-grow: 1;
    text-align: center;
    padding: 2px 10px;
}

.notfound {
    color: red;
}

.sc {
    font-variant: small-caps;
}

q {
    quotes: "‘" "’";
}

q.dq {
    quotes: "“" "”";
}

.separation::before {
    content: " · ";
}

#search {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: beige;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: smaller;
    line-height: 150%;
}

#search-box {
    width: 100%;
}
